.securityByIdContainer{
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    }

    .response {
        background-color: white;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 280px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        margin: 0 auto;
    }
    
    .response:hover {
        transform: scale(1.05);
    }
    
    .response p {
        margin: 8px 0;
        font-size: 16px;
        font-weight: 600;
        color: #032440ff;
    }

    .response p span{
        font-size: 14px;
        font-weight: 500;
    }
    